### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Snapshots
.snapshots/
#Testing Output folder
.output/
#Rapid Application Development File
rad.json
#Translation Base-file

