### AI ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Snapshots
.screenshots/
#Testing Output folder
.output/
#Rapid Application Development File
rad.json
bad.json
